<template>
  <div class="banner_text">
    <h1>{{ text }}</h1>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: false,
      default: 'A Buzzing place to be!'
    }
  }
}
</script>

<style lang="scss" scoped>
  /* Set the background image and mask the contents*/
  H1 {
    @include mask_text(url('/images/banner_image.png'));

    font-size: 5rem;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 0.9em;

    @include tablet {
      font-size: 8rem;
    }
  }
</style>
