<template>
  <article :class="{ banner: true, small: smallImage}">
    <BannerText :text="text" />
    <img :src="`/images/hexagons/patterns/${image}.svg`" :alt="imageDescription">
  </article>
</template>

<script>
import BannerText from '@/components/sections/BannerText'

export default {
  components: {
    BannerText
  },
  props: {
    text: {
      type: String,
      required: true,
      default: ''
    },
    image: {
      type: String,
      required: true,
      default: ''
    },
    imageDescription: {
      type: String,
      required: true,
      default: ''
    },
    smallImage: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
  .banner {
    height: 20rem;
    position: relative;
    overflow: hidden;

    @include display_flex(center, center);

    H1 {
      font-size: 4rem;
    }

    > IMG {
      position: absolute;
      bottom: -2rem;
      right: 0;
      z-index: -5;
      width: 50%;

      @include landscape_phone {
        height: 70vh;
        width: auto;
      }

      @include tablet {
        height: 15rem;
        width: auto;
      }
    }

    @include landscape_phone {
      .banner_text {
        max-width: 75%;
      }

      &.small {
        IMG {
          height: auto;
          width: 40%;
        }
      }
    }

    @include tablet {
      .banner_text {
        max-width: 75%;
      }

      &.small {
        IMG {
          height: auto;
          width: 40%;
        }
      }
    }

    @include landscape_tablet {
      &.small {

        .banner_text {
          max-width: 60%;
        }

        IMG {
          height: 15rem;
          width: auto;
        }
      }
    }
  }
</style>
