/* Common methods for flex */
@mixin display_flex($content, $items) {
  display: flex;
  align-items: $items;
  justify-content: $content;
}


/* Mixin to mask a background image to the text */
@mixin mask_text($background_image) {
  background-image: $background_image;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* The mixin for a landscape phone */
@mixin landscape_phone {
  @media screen and (orientation: landscape) {
    @content;
  }
}

/* Added the mixin for the portrait tablets */
@mixin tablet {
  @media screen and (min-width: 700px) {
    @content;
  }
}

/* Added the mixin for the landscape tablets */
@mixin landscape_tablet {
  @media screen and (min-width: 800px) and (orientation: landscape) {
    @content;
  }
}

/* Added the mixin for the desktop device */
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

/* Added a mixin that will add the desfoult style for content sections */
@mixin desktop_content {
  @include desktop {
    width: calc(100% - 30rem);
    box-sizing: border-box;
  }
}

/* Ths mixin will create the desktop layout with the image on the left */
@mixin desktop_section_image_left {
  @include desktop {
    display: grid;
    grid-template-columns: 3fr 4fr;
    border-top: none;

    .content_image {
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;
      position: relative;

      IMG {
        min-height: 100%;
        min-width: 100%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    SECTION {
      grid-column: 2;
      grid-row: 1;
      text-align: left;
    }
  }
}

/* Ths mixin will create the desktop layout with the image on the right of the text */
@mixin desktop_section_image_right {
  @include desktop {
    display: grid;
    grid-template-columns: 4fr 3fr;
    border-top: none;

    .content_image {
      grid-column: 2;
      grid-row: 1;
      overflow: hidden;
      position: relative;

      IMG {
        min-height: 100%;
        min-width: 100%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    SECTION {
      grid-column: 1;
      grid-row: 1;
      text-align: left;
    }
  }
}
