/* FONTS */
$default_font: "Merriweather Sans", Arial, sans-serif;
$default_font_size: 20px;
$default_weight: 400;
$heading_font: "Alegreya Sans SC", Arial sans-serif;
$heading_weight: 900;

/* COLOURS */
$yellow: #E1C06B;
$yellow_2: #E9CB7D;
$grey: #32302B;
$grey_2: #6D685A;
$black: #000000;
$white: #FFFFFF;
