@import "fonts";
@import "vars";
@import "utils";

BODY {
  font-family: $default_font;
  font-size: $default_font_size;
  margin: 0;
  padding: 0;
}

/* Style the common aspects of the page */

/*
  HEADINGS

  The heading should all follow the same font and layout
*/

H1, H2, H3, H4, H5, H6 {
  font-family: $heading_font;
  font-weight: $heading_weight;
  text-transform: uppercase;
}

/*
  BUTTONS

  This will style buttons across the site
*/

.btn {
  background-color: $yellow;
  border: 2px solid $black;
  color: $black;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 3rem;
  margin-top: 1rem;
  transition: 0.5s;

  &:hover {
    background-color: lighten($yellow, 10%);
    transition: 0.5s;
  }

  /* Add the style for the white button */
  &.white {
    background-color: $white;
    transition: 0.5s;

    &:hover {
      background-color: $grey;
      color: $white;
      transition: 0.5s;
    }
  }
}

/* Style for field that can be used on any page */
.field {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 1rem;

  LABEL {
    display: block;
    padding-bottom: 0.3rem;
  }

  INPUT, TEXTAREA {
    width: 100%;
    border: 1px solid $white;
    background-color: $white;
    border-radius: 0px;
    font-size: 1rem;
    padding: 0.75rem 0.5rem;
    outline: none;
    box-sizing: border-box;
  }

  TEXTAREA {
    resize: none;
    height: 6rem;
  }
}
