
<template>
  <aside>
    <img src="/images/hexagons/patterns/advert_top.svg" alt="6 grey hexagons at the top left" class="top">
    <img src="/images/hexagons/patterns/advert_bottom.svg" alt="6 yellow hexagons at the bottom right" class="bottom">
    <h2>Family Ticket</h2>
    <span class="price">£30</span>
    <p>2 Adults 2 Children</p>
  </aside>
</template>

<style lang="scss" scoped>
  ASIDE {
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 3rem;
    @include desktop_content;

    H2 {
      margin: 0;
      padding: 0;
      font-size: 2rem;
    }

    .price {
      font-weight: $heading_weight;
      font-family: $heading_font;
      font-size: 2rem;
    }

    P {
      padding: 0;
      margin: 0;
    }

    .top {
      position: absolute;
      top: -2rem;
      left: 0;
      width: 25%;
    }

    .bottom {
      position: absolute;
      bottom: -2rem;
      right: 0;
      width: 25%;
    }
  }
</style>
