<template>
  <aside>
    <section class="content">
      <div>
        <h2>Come and visit</h2>

        <div>
          <p>Monday – Friday (8am – 7pm)</p>
          <p>Saturday (8am – 5pm)</p>
          <p>Sunday (12pm - 5pm)</p>
        </div>
      </div>
      <div>
        <h2>Or get in touch</h2>

        <div>
          <p><a href="mailto:info@beecentreexample.com">info@beecentreexample.com</a></p>
          <p><a href="tel:013048831122">01304 883 1122</a></p>
        </div>
      </div>
    </section>

    <img src="/images/hexagons/patterns/contact_info.svg" alt="6 dark grey hexagons in the bottom left">
  </aside>
</template>

<style lang="scss" scoped>
  ASIDE {
    background-color: $yellow;
    border-top: 1px solid $yellow;
    text-align: center;
    padding-bottom: 5rem;
    position: relative;
    overflow: hidden;
    @include desktop_content;

    IMG {
      position: absolute;
      bottom: -2rem;
      left: -2rem;
    }

    H2 {
      text-align: center;
      padding: 1rem 0;
      margin: 0;
      font-size: 2.1rem;
    }

    .content {
      margin: 1rem auto;

      P {
        margin: 0.5rem 0;
        font-size: 1rem;
      }

      A {
        color: $white;
        text-decoration: none;
        font-weight: 700;
        color: $grey_2;
        transition: 0.5s;

        &:hover {
          color: $white;
          transition: 0.5s;
        }
      }

      @include landscape_tablet {
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
</style>
