<template>
  <footer>
    <section>
      <nuxt-link to="/" class="logo_icon">
        <img src="/images/branding/hexagon_logo.png" alt="Yellow and black bee on a white hecagon">
        <h1>The Bee Centre</h1>
      </nuxt-link>
      <p>
        <i class="fas fa-copyright" /> 2020
      </p>
    </section>

    <nav>
      <ul>
        <li>
          <nuxt-link to="/">
            Home
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/about">
            About
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/meet-the-team">
            Meet the Team
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/events">
            Events
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/get-in-touch">
            Get in touch
          </nuxt-link>
        </li>
      </ul>
    </nav>
  </footer>
</template>

<style lang="scss" scoped>
  FOOTER {
    background-color: $grey;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    padding: 2rem 0;
    color: $white;
    text-align: center;
    @include desktop_content;

    @include landscape_tablet {
      display: grid;
      grid-template-columns: 2fr 3fr;
    }

    @include desktop {
      grid-template-columns: 1fr;

      NAV {
        display: none;
      }
    }

    P {
      margin: 0;
    }

    .logo_icon {
      text-align: center;
      display: block;
      color: $white;
      text-decoration: none;

      IMG {
        width: 6rem;
      }

      H1 {
        margin: 0;
        font-size: 2rem;
      }
    }

    NAV {
      margin-top: 2rem;

      @include landscape_tablet {
        margin-top: 0;
      }

      UL {
        list-style: none;
        margin: 0;
        padding: 0;

        LI {
          margin: 0 auto;

          A {
            display: block;
            padding: 0.5rem;
            color: $white;
            text-align: center;
            text-decoration: none;
            transition: 0.5s;

            &:hover {
              color: $yellow_2;
              transition: 0.5s;
            }

            &.nuxt-link-exact-active {
              color: $yellow;
            }
          }
        }
      }
    }
  }
</style>
