<template>
  <header>
    <div class="icon">
      <img src="/images/branding/logo.png" alt="Black and yellow bee icon witha grey dashed trail">
    </div>
    <div class="text">
      <h1>The Bee Centre</h1>
    </div>
    <button class="menu_icon" @click.prevent="$store.dispatch('menu/toggleMenu')">
      <i class="fas fa-bars" />
    </button>
  </header>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
  /* Position the elements using CSS Grid */
  HEADER {
    display: grid;
    grid-template-columns: 1fr 5rem;
    grid-template-rows: 5rem 3.5rem;
    width: 100vw;

    /* Position the logo to be in the right place */
    .icon {
      grid-column: 1;
      grid-row: 1 / 3;

      IMG {
        height: 100%;
      }
    }

    /* Position the text to be across the bottom */
    .text {
      grid-column: 1 / 3;
      grid-row: 2;
      font-family: $heading_font;
      font-weight: $heading_weight;
      text-align: center;

      @include display_flex(center, center);

      H1 {
        margin: 0;
        padding: 0;
        font-size: 2.75rem;
      }
    }

    @include tablet {
      grid-template-columns: 5rem 1fr 5rem;
      grid-template-rows: 8.5rem;

      .icon {
        grid-column: 1 / 3;
        grid-row: 1;
      }

      .text {
        grid-column: 2;
        grid-row: 1;

        H1 {
          font-size: 3.5rem;
        }
      }

      .menu_icon {
        height: auto;
      }
    }

    @include desktop {
      position: fixed;
      top: 0;
      right: 0;
      width: 30rem;
      background-color: transparent;

      .icon {
        grid-column: 1 / 3;
        grid-row: 1;
      }

      .text {
        grid-column: 1 / 4;
        align-items: flex-end;

        H1 {
          font-size: 3rem;
        }
      }
    }
  }

  /* Style for the menu icon to handle the hover effect */
  .menu_icon {
    /* Set the background to be the hexagon image */
    background-image: url('/images/hexagons/link_hexagon.svg');
    /* Set the image to appear once in the center of the button */
    background-position: center;
    background-size: 4rem 4rem;
    background-repeat: no-repeat;
    /* Remove style from the button */
    outline: none;
    background-color: transparent;
    border: none;
    /* Set the dimension of the button */
    height: 5rem;
    width: 5rem;
    /* Ensure the colours and the icon is the right size */
    color: $white;
    font-size: 1.3rem;

    &:hover {
      background-image: url('/images/hexagons/hover_hexagon.svg');
    }

    @include desktop {
      display: none;
    }
  }
</style>
