<template>
  <nav :class="{ show: menuStatus }">
    <div class="icon">
      <img src="/images/branding/logo.png" alt="Black and yellow bee icon witha grey dashed trail">
    </div>
    <button class="menu_icon" @click.prevent="$store.dispatch('menu/toggleMenu')">
      <i class="fas fa-times" />
    </button>
    <section class="pages">
      <ul>
        <li class="home">
          <nuxt-link to="/">
            Home
          </nuxt-link>
        </li>
        <li class="about">
          <nuxt-link to="/about">
            About
          </nuxt-link>
        </li>
        <li class="team">
          <nuxt-link to="/meet-the-team">
            Meet the team
          </nuxt-link>
        </li>
        <li class="events">
          <nuxt-link to="/events">
            Events
          </nuxt-link>
        </li>
        <li class="contact">
          <nuxt-link to="/get-in-touch">
            Get in touch
          </nuxt-link>
        </li>
      </ul>
    </section>
    <img src="/images/hexagons/patterns/navigation.svg" alt="Eleven light grey hexagons in the bottom left">
  </nav>
</template>

<script>
export default {
  computed: {
    menuStatus () {
      return this.$store.getters['menu/menuStatus']
    }
  }
}
</script>

<style lang="scss" scoped>
  NAV {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background-color: $white;
    z-index: 10;
    width: 100vw;
    display: grid;
    grid-template-columns: auto 5rem;
    grid-template-rows: 5rem 3.5rem 1fr;
    opacity: 0;
    transition: 0.5s;

    &.show {
      right: 0;
      opacity: 1;
      transition: 0.5s;
    }

    .icon {
      grid-column: 1;
      grid-row: 1 / 3;

      IMG {
        height: 90%;
      }
    }

    .menu_icon {
      /* Set the background to be the hexagon image */
      background-image: url('/images/hexagons/link_hexagon.svg');
      /* Set the image to appear once in the center of the button */
      background-position: center;
      background-size: 4rem 4rem;
      background-repeat: no-repeat;
      /* Remove style from the button */
      outline: none;
      background-color: transparent;
      border: none;
      /* Set the dimension of the button */
      height: 5rem;
      width: 5rem;
      /* Ensure the colours and the icon is the right size */
      color: $white;
      font-size: 1.3rem;

      &:hover {
        background-image: url('/images/hexagons/hover_hexagon.svg');
      }
    }

    .pages {
        grid-column: 1 / 3;
        grid-row: 3;
        overflow-y: auto;

        UL {
          width: 20rem;
          padding: 0;
          margin:0 auto;
          list-style: none;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 3rem 5rem 3rem  5rem 3rem 5rem 3rem;
          position: relative;
          z-index: 25;

          @include tablet {
            width: 40rem;
            grid-template-rows: 5rem 10rem 5rem 10rem 5rem 10rem 5rem;
          }

          @include landscape_tablet {
            width: 30rem;
            grid-template-rows: 4rem 7.5rem 4rem 7.5rem 4rem 7.5rem 4rem;
          }

          LI {
            background-image: url('/images/hexagons/link_hexagon.svg');
            background-size: 10rem;
            background-repeat: no-repeat;
            background-position: center;
            @include display_flex(center, center);
            transition: 0.5s;

            @include tablet {
              background-size: 20rem;
            }

            @include landscape_tablet {
              background-size: 15rem;
            }

            A {
              width: 100%;
              padding: 0 20%;
              @include display_flex(center, center);
              text-align: center;
              height: 70%;
              color: $grey;
              text-decoration: none;
              font-family: $heading_font;
              text-transform: uppercase;
              font-size: 1.3rem;
              transition: 0.5s;

              @include tablet {
                font-size: 2rem;
              }
            }

            &:hover {
              background-image: url('/images/hexagons/hover_hexagon.svg');
              transition: 0.5s;

              A {
                color: $white;
                transition: 0.5s;
              }
            }
          }

          .home {
            grid-column: 1 / 3;
            grid-row: 1 / 4;
          }

          .about {
            grid-column: 3 / 5;
            grid-row: 1 / 4;
          }

          .team {
            grid-column: 2 / 4;
            grid-row: 3 / 6;
          }

          .events {
            grid-column: 1 / 3;
            grid-row: 5 / 8;
          }

          .contact {
            grid-column: 3 / 5;
            grid-row: 5 / 8;
          }
        }
    }

    > IMG {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 20;
      max-width: 70%;
      max-height: 70vh;

      @include tablet {
        width: 70%;
        max-height: none;
      }

      @include landscape_tablet {
        width: 40%;
        max-height: none;
      }
    }

    /* Permantly fix the the nav bar to be on the right for desktop devices */
    @include desktop {
      width: 30rem;
      right: 0;
      bottom: 0;
      top: 8.5rem;
      visibility: visible;
      opacity: 1;
      display: block;
      background-color: transparent;

      IMG {
        display: none;
      }

      .icon, .menu_icon {
        display: none;
      }

      .pages {
        @include display_flex(center, center);
        height: 100%;
      }
    }
  }
</style>
