<template>
  <div>
    <HeaderBlock />
    <Navigation />
    <main>
      <nuxt />
    </main>
    <Advert />
    <ContactInfo />
    <Footer />
  </div>
</template>

<script>
import HeaderBlock from '@/components/common/Header'
import Navigation from '@/components/common/Navigation'
import Advert from '@/components/common/Advert'
import ContactInfo from '@/components/common/ContactInfo'
import Footer from '@/components/common/Footer'

export default {
  middleware: ['closeMenu'],
  components: {
    HeaderBlock,
    Navigation,
    Advert,
    ContactInfo,
    Footer
  }
}
</script>

<style lang="scss" scoped>
  MAIN {
    @include desktop_content;
  }
</style>
