<template>
  <section>
    <PageBanner text="About" image="about_banner" image-description="Six yelllow hexagons in the bottom right" />
    <article class="page_content">
      <section class="section_content">
        <p>
          The Bee Centre was set up in 2014 by a team of professional beekeepers who have been working
          together since the 90s. We work with individuals, organisations and communities to promote a
          healthy and biodiverse environment.
        </p>
        <p>
          We provide the means and opportunities to create habitats for pollinators to increase the
          population of near-native black bees in the UK.
        </p>
        <p>
          We raise awareness of the valuable roles honeybees play in supporting our economy and our
          environment.
        </p>
        <p>
          We deliver training in beekeeping, bee-breeding and habitat creation for pollinators.
        </p>
      </section>
      <div class="content_image">
        <img src="/images/content_images/about_content.jpg" alt="A bumble beee flying towards a yellow flower" class="banner_image">
      </div>
      <img src="/images/hexagons/patterns/about_content.svg" alt="Five dark grey hexagon in the bottom left" class="hexagons">
    </article>
    <article class="gallery">
      <section class="section_content">
        <h2>Gallery</h2>
        <div class="gallery_images">
          <button @click.prevent="openGallery(1)">
            <img src="/images/gallery/1/preview.jpg" alt="">
          </button>
          <button @click.prevent="openGallery(2)">
            <img src="/images/gallery/2/preview.jpg" alt="">
          </button>
          <button @click.prevent="openGallery(3)">
            <img src="/images/gallery/3/preview.jpg" alt="">
          </button>
          <button @click.prevent="openGallery(4)">
            <img src="/images/gallery/4/preview.jpg" alt="">
          </button>
          <button @click.prevent="openGallery(5)">
            <img src="/images/gallery/5/preview.jpg" alt="">
          </button>
          <button @click.prevent="openGallery(6)">
            <img src="/images/gallery/6/preview.jpg" alt="">
          </button>
        </div>
      </section>
      <img src="/images/hexagons/patterns/gallery.svg" alt="Five yellow hexagons in the bottom right corner">
    </article>
    <article class="join">
      <section class="section_content">
        <h2>Join us</h2>

        <p>
          Our events and experience days are perfect for all the family! Or join us a member, with all profits
          going back to helping boost pollinator numbers.
        </p>
      </section>
    </article>
    <section :class="{ gallery_view: true, show: showGallery }">
      <div class="image">
        <img :src="`/images/gallery/${currentImage}/original.jpg`" alt="">
      </div>
      <div class="controls">
        <button class="next" @click.prevent="nextImage">
          <i class="fas fa-arrow-right" />
        </button>
        <button class="previous" @click.prevent="prevImage">
          <i class="fas fa-arrow-left" />
        </button>
        <button class="close" @click.prevent="closeGallery">
          <i class="fas fa-times" />
        </button>
      </div>
    </section>
  </section>
</template>

<script>
import PageBanner from '@/components/sections/PageBanner'

export default {
  components: {
    PageBanner
  },
  data () {
    return {
      showGallery: false,
      currentImage: 1,
      maxImageNumber: 6
    }
  },
  methods: {
    openGallery (imageNumber) {
      this.showGallery = true
      this.currentImage = imageNumber
    },
    closeGallery () {
      this.showGallery = false
    },
    nextImage () {
      if (this.currentImage === this.maxImageNumber) {
        this.currentImage = 1
      } else {
        this.currentImage++
      }
    },
    prevImage () {
      if (this.currentImage === 1) {
        this.currentImage = this.maxImageNumber
      } else {
        this.currentImage--
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .page_content {
    background-color: $yellow;
    border-top: 1px solid $yellow;
    position: relative;
    overflow: hidden;

    .section_content {
      padding: 1rem;
      text-align: center;

      @include landscape_tablet {
        width: 75%;
        margin: 0 auto;
      }
    }

    .hexagons {
      bottom: -2rem;
      left: 0;

      @include tablet {
        width: 30%;
      }
    }

    @include desktop {
      display: grid;
      grid-template-columns: 3fr 4fr;
      border-top: none;

      .section_content {
        width: 100%;
        box-sizing: border-box;
        text-align: left;
      }

      .content_image {
        grid-column: 1;
        grid-row: 1;
        overflow: hidden;
        position: relative;

        IMG {
          min-height: 100%;
          min-width: 100%;
          width: auto;
          position: absolute;
          top: 50%;
          left: 0%;
          transform: translate(0%, -50%);
        }
      }

      SECTION {
        grid-column: 2;
        grid-row: 1;
        text-align: left;
      }

      .hexagons {
        width: 20%;
        bottom: -3rem;
      }
    }
  }

  .section_content H2 {
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    font-size: 2.1rem;
  }

  .gallery {
    background-color: $grey;
    color: $white;
    border-top: 1px solid $grey;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 7rem;
    z-index: 0;

    .section_content {
      padding-bottom: 1rem;
    }

    .gallery_images {
      display: grid;
      width: 90%;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      position: relative;
      z-index: 5;

      @include landscape_tablet {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @include desktop {
        width: 75%;
      }

      BUTTON {
        @include display_flex(center, center);
        margin: 0;
        padding: 0;
        border: none;

        IMG {
          width: 100%;
          display: block;
        }
      }
    }

    > IMG {
      position: absolute;
      bottom: -2rem;
      right: 0;
    }
  }

  .join {
    background-color: $yellow_2;
    border-bottom: 1px solid $yellow_2;
    text-align: center;

    .section_content {
      padding: 1rem;
      padding-bottom: 2rem;

      @include landscape_tablet {
        width: 75%;
        margin: 0 auto;
        padding: 5rem 1rem;
      }

      @include desktop {
        width: 50%;
      }

      P {
        margin: 0;
      }
    }
  }

  .hexagons {
    position: absolute;
  }

  .banner_image {
    display: block;
    width: 100%;
  }

  SECTION.gallery_view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 4rem;
    width: 100vw;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;

    &.show {
      opacity: 1;
      visibility: visible;
      transition: 0.5s;
    }

    .image {
      grid-row: 2;
      @include display_flex(center, center);

      IMG {
        width: 90%;

        @include landscape_phone {
          max-height: 50vh;
          width: auto;
          max-width: 90%;
        }
      }
    }

    .controls {
      grid-row: 3;

      display: grid;
      grid-template-columns: 4rem 1fr 4rem 1fr 4rem;

      BUTTON {
        background-color: transparent;
        background-image: url('/images/hexagons/small_yellow.svg');
        background-repeat: no-repeat;
        background-size: 3rem;
        background-position: center;
        border: none;
        font-size: 1.1rem;
        outline: none;

        &:hover {
          background-image: url('/images/hexagons/small_grey.svg');
          color: $white;
        }
      }

      .next {
        grid-column: 5;
        grid-row: 1;
      }

      .prev {
        grid-column: 1;
        grid-row: 1;
      }

      .close {
        grid-column: 3;
        grid-row: 1;
      }
    }
  }
</style>
