<template>
  <section>
    <PageBanner text="Events" image="events_banner" image-description="Seven yellow hexagons in the bottom right" />
    <article class="education">
      <section class="section_content">
        <h2>Education events</h2>

        <p>
          The Bee Centre can come into your place of education or business to give an interactive talk with our
          special travel hives. Get up close and personal to our bees, learn all about them and the huge impact
          that pollinator decline is having on the world.
        </p>

        <p>
          <b>Price dependent on distance.</b>
        </p>

        <nuxt-link to="/get-in-touch" class="btn white">
          Contact us
        </nuxt-link>
      </section>
      <div class="content_image">
        <img src="/images/content_images/education_events.jpg" alt="A bee that has landed on the centre of a white plant" class="section_banner">
      </div>
      <img src="/images/hexagons/patterns/education_events.svg" alt="Five dark grey hexagins in the bottom left" class="pattern">
    </article>
    <article class="daily_talks">
      <section class="section_content">
        <h2>Daily talks as the centre</h2>

        <p>
          Come into the centre where host multiple talks per day about our bees, UK bees and bees around
          the world! Did you know that bees have a complex communication system? Do you know how many
          types of bees they are and how they differ? Find these things out and many more at the Bee Centre!
          Daily talks at 10am, midday and 3pm.
        </p>

        <p>
          <b> Free entry with Bee Centre ticket.</b>
        </p>
      </section>
      <div class="content_image">
        <img src="/images/content_images/daily_talks.jpg" alt=" A bee hovering over a large white flower" class="section_banner">
      </div>
      <img src="/images/hexagons/patterns/daily_talks.svg" alt="Seven yellow hexagons in the bottom right" class="pattern">
    </article>
    <article class="seasonal_events">
      <section class="section_content">
        <h2>Seasonal events</h2>

        <p>
          We have all kinds of events at the Bee Centre throughout the year! Keep up to date. Contact us
          today to sign up to our newsletter.
        </p>
      </section>
    </article>
  </section>
</template>

<script>
import PageBanner from '@/components/sections/PageBanner'

export default {
  components: {
    PageBanner
  }
}
</script>

<style lang="scss" scoped>
  /* Set the style for the common items between the articles */
  ARTICLE {
    position: relative;
    overflow: hidden;

    .section_content {
      padding: 1rem;
      text-align: center;

      @include landscape_tablet {
        width: 75%;
        margin: 0 auto;
      }

      H2 {
        text-align: center;
        padding: 1rem 0;
        margin: 0;
        font-size: 2.1rem;
      }
    }

    .section_banner {
      width: 100%;
      display: block;
    }

    .pattern {
      position: absolute;
      bottom: -2rem;

      @include landscape_tablet {
        width: 30%;
        bottom: -4rem;
      }
    }
  }

  /* Set the colours for the different sections */
  .education {
    background-color: $yellow_2;
    .section_content {
      padding-bottom: 2rem;

      .btn {
        margin-top: 1rem;
        display: inline-block;
      }
    }

    .pattern {
      left: 0;
    }

    @include desktop {
      display: grid;
      grid-template-columns: 3fr 4fr;
      border-top: none;

      .content_image {
        grid-column: 1;
        grid-row: 1;
        overflow: hidden;
        position: relative;

        IMG {
          min-height: 100%;
          min-width: 100%;
          width: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      SECTION {
        grid-column: 2;
        grid-row: 1;
        text-align: center;

        P {
          text-align: left;
        }

        .btn {
          display: inline-block;
          margin: 1rem auto;
        }
      }

      .pattern {
        width: 20%;
      }
    }
  }

  .daily_talks {
    background-color: $grey;
    color: $white;

    .section_content {
      padding-bottom: 2rem;
    }

    .pattern {
      right: 0;
      width: 50%;

      @include landscape_tablet {
        width: 40%;
      }
    }

    @include desktop {
      display: grid;
      grid-template-columns: 4fr 3fr;
      border-top: none;

      .content_image {
        grid-column: 2;
        grid-row: 1;
        overflow: hidden;
        position: relative;

        IMG {
          min-height: 100%;
          min-width: 100%;
          width: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      SECTION {
        grid-column: 1;
        grid-row: 1;
        text-align: center;

        P {
          text-align: left;
        }

        .btn {
          display: inline-block;
          margin: 1rem auto;
        }
      }

      .pattern {
        width: 20%;
      }
    }
  }

  .seasonal_events {
    background-color: $yellow;

    .section_content {
      padding-bottom: 2rem;
    }

    @include desktop {
      padding: 4rem 0;

      .section_content {
        width: 50%;
      }
    }
  }
</style>
