<template>
  <section>
    <PageBanner text="Get in touch" image="get_in_touch" image-description="Six grey hexagons in the bottom right" :small-image="true" />
    <article class="location">
      <section class="section_content">
        <h2>Location</h2>
        <p>The Bee Centre</p>
        <p>Merlin Lane</p>
        <p>Lancaster</p>
        <p>LC33 5NS</p>
      </section>
      <div class="content_image">
        <img src="/images/content_images/location_banner.jpg" alt="Two yellow wooden hives in a field of purple flowers" class="section_banner">
      </div>
      <img src="/images/hexagons/patterns/location.svg" alt="Five yellow hexagons in the bottom left" class="pattern">
    </article>
    <article class="contact_details">
      <section class="section_content">
        <h2>Contact details</h2>

        <div class="contact_buttons">
          <a href="mailto:info@beecentreexample.com">
            <div class="hexagon">
              <i class="fas fa-envelope" />
            </div>
            <p>info@beecentreexample.com</p>
          </a>
          <a href="tel:013048831122">
            <div class="hexagon">
              <i class="fas fa-phone-alt" />
            </div>
            <p>01304 883 1122</p>
          </a>
        </div>
      </section>
      <div class="content_image">
        <img src="/images/content_images/contact_info_banner.jpg" alt="A group of bees flying towards the wooden hive" class="section_banner">
      </div>
      <img src="/images/hexagons/patterns/contact.svg" alt="Nine grey hexagons in the bottom right" class="pattern">
    </article>
    <article class="contact_form">
      <section class="section_content">
        <h2>Contact form</h2>

        <section v-if="messageSent" class="success_message">
          <i class="far fa-check-circle" />
          <p>
            <b>Your message has been sent.</b>
          </p>
          <p class="message">
            We will reply to you as soon as possible.
          </p>
        </section>
        <form v-else @submit.prevent="sendForm">
          <div class="field">
            <label for="name">Name</label>
            <input id="name" v-model="form.name" type="text">
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input id="email" v-model="form.email" type="email">
          </div>
          <div class="field">
            <label for="subject">Subject</label>
            <input id="subject" v-model="form.subject" type="text">
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea id="message" v-model="form.message" />
          </div>

          <button type="submit" class="btn">
            Send Message
          </button>
        </form>
      </section>
    </article>
  </section>
</template>

<script>
import PageBanner from '@/components/sections/PageBanner'

export default {
  components: {
    PageBanner
  },
  data () {
    return {
      messageSent: false,
      form: {
        name: '',
        email: '',
        subject: '',
        message: ''
      }
    }
  },
  methods: {
    sendForm () {
      this.messageSent = true
    }
  }
}
</script>

<style lang="scss" scoped>
/* Set the style for the common items between the articles */
ARTICLE {
  position: relative;
  overflow: hidden;

  .section_content {
    padding: 1rem;
    text-align: center;

    H2 {
      text-align: center;
      padding: 1rem 0;
      margin: 0;
      font-size: 2.1rem;
    }
  }

  .section_banner {
    width: 100%;
    display: block;
  }

  .pattern {
    position: absolute;
    bottom: -2rem;

    @include landscape_tablet {
      bottom: -4rem;
    }
  }

  /* Customise each section on the different articles */
  &.location {
    background-color: $grey_2;
    color: $white;

    .section_content {
      padding-bottom: 2rem;

      @include landscape_tablet {
          padding: 4rem;
          padding-bottom: 5rem;
      }

      H2 {
        margin-bottom: 1rem;
      }
      P {
        margin: 0;
      }
    }

    .pattern {
      left: 0;

      @include tablet {
        width: 30%;
      }
    }

    @include desktop_section_image_left;

    @include desktop {
      .section_content {
        text-align: center;
      }

      .pattern {
        width: 20%;
      }
    }
  }

  &.contact_details {
    background-color: $yellow;

    .section_content {
      padding-bottom: 2rem;
      H2 {
        margin-bottom: 1rem;
      }
      P {
        margin: 0;
      }

      @include desktop {
        padding: 3rem 0;
      }
    }

    .pattern {
      right: 0;
      width: 60%;

      @include landscape_phone {
        height: 20rem;
        width: auto;
      }

      @include tablet {
        width: 50%;
      }

      @include landscape_tablet {
        max-height: none;
        height: auto;
      }
    }

    @include desktop_section_image_right;

    @include desktop {
      .pattern {
        width: 30%;
      }
    }
  }

  &.contact_form {
    background-color: $grey;
    color: $white;

    .section_content {
      padding-bottom: 2rem;
      H2 {
        margin-bottom: 1rem;
      }
      P {
        margin: 0;
      }

      @include desktop {
        width: 50%;
        margin: 0 auto;
      }
    }
  }
}

/* Create the split grid for the contact links */
.contact_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  A {
    word-break: break-all;
    padding: 0.5rem;
    font-size: 1.1rem;
    color: $grey;
    text-decoration: none;
    font-weight: 700;

    @include tablet {
      font-size: 1.6rem;
    }

    @include desktop {
      font-size: 1rem;
      text-align: center;
    }

    .hexagon {
      background-image: url('/images/hexagons/small_grey.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 5rem;
      color: $white;
      @include display_flex(center, center);
      margin-bottom: 1rem;
      font-size: 1.5rem;
      transition: 0.5s;

      @include tablet {
        height: 8rem;
        font-size: 2.3rem;
      }

      @include desktop {
        height: 5rem;
        font-size: 1.75rem;
      }
    }

    &:hover {
      .hexagon {
        color: $yellow;
        transition: 0.5s;
      }
    }
  }
}

/* Style for the success message */

.success_message {
  color: $yellow;

  I {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  P {
    font-size: 1.3rem;
    margin-bottom: 0.5rem !important;
  }

  .message {
    color: $white;
    font-size: 1.1rem;
  }
}

@include landscape_phone {
  SECTION > ARTICLE.banner > IMG {
    width: 40%;
  }
}
</style>
