<template>
  <div class="container">
    <article class="banner">
      <BannerText />
      <nuxt-link to="/get-in-touch" class="btn yellow">
        Come and visit
      </nuxt-link>
      <img src="/images/hexagons/patterns/landing_banner.svg" alt="Seven hexagons in a dark grey at the bottom">
    </article>
    <article class="landing_content">
      <section class="content">
        <p>
          Bzzzzzz! Welcome to the Bee Centre! We’re working hard to spread the good word about our honeymaking
          friends whilst giving our very own colony the best bee lives!
        </p>
        <p>
          We are based in the North-West of England, but work throughout the UK by visiting schools,
          delivering talks and even moving bees to a safe haven if they’ve set up home somewhere they
          shouldn’t have!
        </p>
        <p>
          Our centre is open to the public throughout the year! So bring the family, see our bees up close and
          learn a little about the creatures that do so much more than make us honey.
        </p>
        <p>
          Have a fear of bees? Come down and we’ll aim to beat that fear and show you that the bee is a
          friendly, hard-working wonder of the natural world.
        </p>
      </section>
      <div class="content_image">
        <img src="/images/content_images/landing_content.jpg" alt="A bumblebee landing on a bright purple flower" class="footer_image">
      </div>
      <img src="/images/hexagons/patterns/other_services.svg" alt="Five yellow hexagons to the left" class="banner_hexagons">
    </article>
    <article class="services_content">
      <section class="content">
        <h2>Our other services include</h2>
        <!-- The section about ethical bee control -->
        <div class="boxes">
          <section class="data_box control">
            <h3>Ethical Bee Control</h3>
            <div>
              <p>
                If bees have set up home in your house or garden please call us. Our expert
                team will be happy to ethically relocate them.
              </p>
            </div>
          </section>
          <!-- Educational talks section -->
          <section class="data_box talks">
            <h3>Educational Talks</h3>
            <div>
              <p>
                Does your school or even workplace want a talk on bees? We’ll even bring some in!
              </p>
            </div>
          </section>
        </div>

        <p>
          There’s something for everyone. Contact the Bee Centre today.
        </p>
      </section>
      <div class="content_image">
        <img src="/images/content_images/services_content.jpg" alt="A bumblebee landing on a bright purple flower" class="footer_image">
      </div>
      <img src="/images/hexagons/patterns/bees.svg" alt="Five grey hexagons to the right" class="banner_hexagons">
    </article>
    <article class="bees_content">
      <section class="content">
        <h2>The Bees! The Bees!</h2>
        <p>
          Bee keeping has dramatically declined in the UK and in the past one hundred years there has been
          around a 75% decrease in the number of bee hives. There are an estimated 274,000 honey bee hives
          in the UK; the majority of these hives are kept by approximately 44,000 amateur keepers.
        </p>
        <p>
          Around 200 bee keepers manage bees on a professional basis and are members of the Bee Farmers
          Association; collectively they manage around 40,000 colonies. The remainder are small-scale
          producers.
        </p>
      </section>
    </article>
  </div>
</template>

<script>
import BannerText from '@/components/sections/BannerText'

export default {
  components: {
    BannerText
  }
}
</script>

<style lang="scss" scoped>
  /* Make the banner the hight of the device minus the header */
  .banner {
    height: calc(100vh - 8.5rem);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;

    @include display_flex(center, center);
    flex-direction: column;

    @include desktop {
      height: 100vh;

      .banner_text {
        width: 60%;

        H1 {
          font-size: 10rem;
        }
      }
    }

    IMG {
      position: absolute;
      bottom: -2rem;
      right: 0;
      width: 60%;
      z-index: -5;

      @include landscape_phone {
        max-height: 50vh;
        width: auto;
      }

      @include tablet {
        max-height: 40vh;
      }

      @include landscape_tablet {
        max-height: none;
        width: 35%;
      }
    }

    @include tablet {
      .btn {
        font-size: 1.7rem;
      }
    }
  }

  /* Style to style the location of the contnet */
  .landing_content {
    background-color: $grey;
    border-top: 1px solid $grey;
    box-sizing: border-box;
    color: $white;
    text-align: center;
    position: relative;
    overflow: hidden;

    .content {
      padding: 1rem;

      @include landscape_tablet {
        width: 70%;
        margin: 1rem auto;
      }
    }

    .banner_hexagons {
      position: absolute;
      bottom: -3rem;
      left: 0;
      width: 50%;

      @include landscape_phone {
        max-height: 60rem;
        width: auto;
      }

      @include tablet {
        height: 25rem;
        width: auto;
      }
    }

    @include desktop {
      display: grid;
      grid-template-columns: 3fr 4fr;
      border-top: none;

      .content_image {
        grid-column: 1;
        grid-row: 1;
        overflow: hidden;
        position: relative;

        IMG {
          min-height: 100%;
          min-width: 100%;
          width: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      SECTION {
        grid-column: 2;
        grid-row: 1;
        text-align: left;
      }
    }
  }

  /* Style for the services section */
  .services_content {
    background-color: $yellow_2;
    border-top: 1px solid $yellow_2;
    position: relative;
    overflow: hidden;
    text-align: center;

    .content {
      padding: 1rem;
      padding-bottom: 4rem;

      @include landscape_tablet {
        width: 70%;
        margin: 0 auto;
      }

      > P {
        margin-top: 3rem;
      }

      /* Style the boxes of information */
      .data_box {
        width: 90%;
        margin: 0 auto;
        background-color: $white;
        margin-bottom: 1.5rem;

        H3 {
          background-color: $grey;
          color: $white;
          padding: 1rem;
          text-align: center;
          box-sizing: border-box;
          margin: 0;
        }

        DIV {
          padding: 1rem;
          text-align: center;
        }
      }
    }

    .banner_hexagons {
      position: absolute;
      bottom: -2.5rem;
      right: 0;
      width: 50%;

      @include landscape_phone {
        max-height: 60rem;
        width: auto;
      }

      @include tablet {
        height: 20rem;
        width: auto;
      }
    }

    @include desktop {
      display: grid;
      grid-template-columns: 4fr 3fr;
      border-top: none;

      .content {
        width: 100%;
        box-sizing: border-box;

        .boxes {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 0.5rem;

          .control {
            grid-column: 1;
          }

          .talks {
            grid-column: 2;
          }
        }
      }

      .content_image {
        grid-column: 2;
        grid-row: 1;
        overflow: hidden;
        position: relative;

        IMG {
          min-height: 100%;
          min-width: 100%;
          width: auto;
          position: absolute;
          top: 50%;
          left: 0%;
          transform: translate(0%, -50%);
        }
      }

      SECTION {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
      }
    }
  }

  /* Style for the bees section */
  .bees_content {
    background-color: $grey_2;
    border-top: 1px solid $grey_2;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: $white;

    .content {
      padding: 1rem;

      @include landscape_tablet {
        width: 70%;
        margin: 0 auto;
      }

      @include desktop {
        width: 50%;
      }
    }
  }

  /* Ensure that all the section headings have the correct style */

  .content H2 {
    text-align: center;
    padding: 1rem 0;
    margin: 0;
    font-size: 2.1rem;
  }

  /* Ensure all the images at the bottom of content are the same */
  IMG.footer_image {
    width: 100%;
    padding: 0;
    display: block; /* Remove whitespace after the image */
  }
</style>
