<template>
  <section>
    <PageBanner text="Meet the team" image="meet_the_team" image-description="Six grey hexagons in the bottom right" />
    <article class="page_content">
      <section class="section_content">
        <p>
          Meet the Bee Centre team! We’re a group of professional beekeepers working together to increase
          pollinator numbers through the UK whilst educating others along the way!
        </p>
      </section>
      <div class="content_image">
        <img src="/images/content_images/team_banner.jpg" alt="A black bee flying towarks a collection of purple and white flowers" class="banner_image">
      </div>
      <img src="/images/hexagons/patterns/team_content.svg" alt="Five yellow hexagons in the bottom left" class="pattern">
    </article>
    <article class="team">
      <section class="section_content">
        <div v-for="member in team" :key="member.name" class="member">
          <div class="headshot">
            <img :src="`/images/team/${member.image}`" :alt="member.description">
          </div>
          <div class="details">
            <h3>{{ member.name }}</h3>
            <p>{{ member.role }}</p>
          </div>
        </div>
      </section>
    </article>
  </section>
</template>

<script>
import PageBanner from '@/components/sections/PageBanner'

export default {
  components: {
    PageBanner
  },
  data () {
    return {
      team: [
        {
          image: 'andrew_davies.png',
          description: 'A man with short dark brown hair in a blazer and shirt on a black background',
          name: 'Andrew Davies',
          role: 'Managing Director'
        }, {
          image: 'vittoria_luoni.png',
          description: 'A woman with long light brown hair wearing a  black top on a grey background',
          name: 'Vittoria Luoni',
          role: 'Volunteer Officer'
        }, {
          image: 'john_mackfield.png',
          description: 'A man smiling with short black hair, some facial hair  in a green t-shirt on a white background',
          name: 'John Mackfield',
          role: 'Education Officer'
        }, {
          image: 'seb_williams.png',
          description: 'A black and white photo of a man with medium lenght hair in a t-shirt smiling',
          name: 'Seb Williams',
          role: 'Media Officer'
        }, {
          image: 'tracy_fother-dunleavy.png',
          description: 'A photo of a woman who is smiling with long brown hair with a blurred city in the background',
          name: 'Tracy Fother-Dunleavy',
          role: 'Finance Officer'
        }, {
          image: 'rosie.png',
          description: 'A black and white dog looking up with her mouth open looking happy',
          name: 'Rosie the Dog',
          role: 'Morale Officer'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
  ARTICLE {
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .page_content {
    background-color: $grey;
    color: $white;
    border-top: 1px solid $grey;

    @include landscape_tablet {
      .section_content {
        padding: 5rem 0;
      }
    }

    .pattern {
      left: 0;
      width: 40%;

      @include landscape_phone {
        width: auto;
      }

      @include tablet {
        width: 30%;
        max-height: none;
      }

      @include landscape_tablet {
        width: 25%;
      }
    }

    @include desktop {
      display: grid;
      grid-template-columns: 3fr 4fr;
      border-top: none;

      .content_image {
        grid-column: 1;
        grid-row: 1;
        overflow: hidden;
        position: relative;

        IMG {
          min-height: 100%;
          min-width: 100%;
          width: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      SECTION {
        grid-column: 2;
        grid-row: 1;
        text-align: left;
      }

      .pattern {
        width: 17.5%;
      }
    }
  }

  .team {
    background-color: $yellow_2;

    @include tablet {
      .section_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }

    @include landscape_tablet {
      .section_content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .member {
      margin: 2rem 0;

      H3 {
        margin: 0;
      }

      P {
        margin: 0;
      }

      &:nth-of-type(even) {
        H3 {
          color: $grey_2;
        }
      }
    }

    .headshot {
      IMG {
        width: 12.5rem;
      }
    }
  }

  .section_content {
    padding: 1rem;
    box-sizing: border-box;

    @include landscape_tablet {
      width: 75%;
      margin: 0 auto;
    }
  }

  .banner_image {
    width: 100%;
    display: block;
  }

  .pattern {
    position: absolute;
    bottom: -2rem;

    @include landscape_phone {
      max-height: 15rem;
    }
  }
</style>
